# Binaries
/ycom
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go coverage
*.out

# Go workspace
go.work
go.work.sum

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Save files
*.sav
saves/

# Logs
*.log
ycom.code-workspace
ycom.exe
_assets/
ycom
